
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Merriweather Sans', Verdana, sans-serif;
  padding-bottom: 20px;
}


.caption {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 50%;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 270%;
}


section {
  padding: 20px;
}



#container{
  min-width: 310px;
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
}


#sticky {
 text-align: center;
 color: #fff;
 position: absolute;
 bottom: 15px;
}

#black {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#black > h1 {
  font-size: 500%;
}

#black > h2 {
  font-size: 250%;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.introslide >h2 {
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.pink {
  background-color: #ffefef;
}

#sofar {
  background-image: url("../images/ladies.jpg");
  background-size:100%;
}
#sofar > h1 {
 background: #efc8d1;
 padding:10px;
 width:20%
}


#vote {
  background-image: url('../images/parade.jpg');
  color: #efc8d1;
  background-size:100%;
}

 #vote > h1 {
  background: #000;
  padding:10px;
  width:30%
}


#space  {
  background-image:url('../images/sallyRide1.jpg');
  background-size:100%;
  color: #000;
}

#space > h1 {
 background: #efc8d1;
 padding:10px;
 width:20%
}


#exit {
  position: absolute;
  top:30px;
  right: 60px;
  background-color: #253845;
  color: #fff;
}

#mtop {
  background-image: url('../images/table.jpg');
  background-size:100%;
}

/*#supremeCourt {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a1/O%27Connor%2C_Sotomayor%2C_Ginsburg%2C_and_Kagan.jpg');
  background-size:100%;
}*/



img{
  /*width: 100%;*/
  margin:auto;
  padding:0;
  max-height: 500px;
}

.issue {
  display: inline-block;
  text-decoration:none;
  font-family: Helvetiva, sans-serif;
  padding:5px 20px;
  background-color: #fff;
  font-size: 120%;
}


.btn {
  display: inline-block;
  text-decoration:none;
  font-family: Helvetiva, Verdana sans-serif;
  padding:5px 20px;
  background-color: #fff;
  font-size: 120%;
  cursor: pointer;
}

/*.pinkbtn {
  background-color: #ffefef;
}*/


.abuseheading {
 margin: 0;
 padding: 4px 15px;
 background: #000;
 color: #fff;
 border-bottom: 2px solid #fff;
 text-transform: uppercase;

 }

.abusebox {
   margin: 0;
   padding: 5px 20px;

 }

#digitalsigns{
    background-color: #fbdeff;
}

#financialsigns {
  background-color: #af90bc;
}

#emotionalsigns{
    background-color: #df65b0;
}

#sexualsigns{
    background-color: #b63d72;
    color: #fff;
}

#physicalsigns {
    background-color: #980043;
    color: #fff;
}


@media (max-width: 600px) {

  .black {background-color: #fff;
          color: #000;}
  #space  {background-image: none;}
  #space > h1 {background: none;}
  #mtop {background-image: none;}
  #vote {background-image: none;
        background-color: #ffefef;
        color:#000;}
  #vote > h1 {background: none;}
  #sofar {background-image: none;}
  #sofar > h1 {background: none;}

  .black > h1 {font-size: 250%;}
  .black > h2 {font-size: 150%;}

    }
