
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Merriweather Sans', Verdana, sans-serif;
  padding-bottom: 20px;
}

.all-secs {
  padding: 10px 30px;
}


#paradecaption {
  position: absolute;
  bottom: -50px;
  right: 20px;
  font-size: 50%;
  color: #000;
}


#justicescaption {
  position: absolute;
  bottom: -50px;
  right: 20px;
  font-size: 50%;
  color: #000;
}


.caption {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 50%;
}

.captionwhite {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 50%;
  background-color: #dadada;
  padding: 5px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 270%;
}


section {
  padding: 20px;
}



#container{
  min-width: 500px;
  height: 400px;
  max-width: 600px;
  margin: 0;
  padding: 20px;

}


#sticky {
 text-align: center;
 color: #fff;
 position: absolute;
 bottom: 15px;
}

#black {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#black > h1 {
  font-size: 500%;
}

#black > h2 {
  font-size: 250%;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.introslide > h2 {
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.pink {
  background-color: #ffefef;
}

#sofar {
  background-image: url("../images/ladies.jpg");
  background-size:100%;
  background-position: center;

}
#sofar > h1 {
 background: #efc8d1;
 padding:10px;
 width:20%
}


#mage > h1 {
  background: #f0c8d0;
  padding:20px;
  width:60%
}

#mage {
  background-image: url("../images/cafe.jpg");
  background-size:100%;
  background-position: center;

}


#mleave > h1 {
  background: #f0c8d0;
  padding:20px;
  width:90%
}

#mleave {
  background-image: url("../images/babyfeet.jpg");
  background-size:100%;
  background-position: center;
}




/*#mwhy {
  background-image: url("../images/boardroom.jpg");
  background-size:100%;
  background-position: center;
}
*/

/*.column1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 20px;
}

.column2 {
  float: right;
clear: both;
margin: 30px;
padding: 50px;
}
*/
/*#agecontainer {
  width: 40%;
  padding: 20px;
}*/

/*#mage > img {
  float: right;
  padding: 50px;
  margin: auto;
}

#mage > button {
  clear: right;
}*/

#vote {
  background-image: url('../images/parade.jpg');
  color: #efc8d1;
  background-size:100%;
}

 #vote > h1 {
  background: #000;
  padding:10px;
  width:30%
}


#space  {
  background-image:url('../images/sallyRide1.jpg');
  background-size:100%;
  color: #000;
}

#space > h1 {
 background: #efc8d1;
 padding:10px;
 width:20%
}


#exit {
  position: absolute;
  top:30px;
  right: 60px;
  background-color: #253845;
  color: #fff;
}

#mtop {
  background-image: url('../images/table.jpg');
  background-size:100%;
}

#mtop > h1 {
background: #f0c8d0;
padding:20px;
width:40%
}

#rtop {
  background-image: url('../images/tree.jpg');
  background-size:100%;
  background-color: #000;
}

#rtop > h1 {
 background: #ecd4d7;
 padding:10px;
 width:40%;
}

#rtop > h2 {
 background: #ecd4d7;
 padding:10px;
 width:40%;
}




/*#supremeCourt {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a1/O%27Connor%2C_Sotomayor%2C_Ginsburg%2C_and_Kagan.jpg');
  background-size:100%;
}*/



img{
  /*width: 100%;*/
  margin:auto;
  padding:0;
  max-height: 500px;
}

.issue {
  display: inline-block;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  padding:5px 20px;
  background-color: #fff;
  font-size: 120%;
}


.btn {
  display: inline-block;
  text-decoration:none;
  font-family: Helvetica, Verdana, sans-serif;
  padding:5px 20px;
  margin: 5px;
  background-color: #fff;
  font-size: 120%;
  cursor: pointer;
}

.infobut {
  display: inline-block;
  text-decoration:none;
  font-family: Helvetica, Verdana, sans-serif;
  padding:5px 20px;
  background-color: #000;
  color: #fff;
  font-size: 120%;
  cursor: pointer;
}

 #aboutproj {
 background: #ffefef;
}
/*
#aboutbut {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
*/

/*.pinkbtn {
  background-color: #ffefef;
}*/


.abuseheading {
 margin: 0;
 padding: 4px 15px;
 background: #000;
 color: #fff;
 border-bottom: 2px solid #fff;
 text-transform: uppercase;

 }

.abusebox {
   margin: 0;
   padding: 5px 20px;

 }

#digitalsigns{
    background-color: #ffd2eb;

}

#financialsigns {
  background-color: #D7AEC4;

}

#emotionalsigns{
    background-color: #A47B91;
}

#sexualsigns{
    background-color: #71485E;
    color: #fff;

}

#physicalsigns {
    background-color: #3E152B;
    color: #fff;
}


@media (max-width: 600px) {

  #black {background-color: #fff;
          color: #000;}
  #space  {background-image: none;}
  #space > h1 {background: none;}
  #mtop {background-image: none;
  background-color: #ffefef; }
    #mtop > h1 {background: none;}

#mgap {background-color: #fff;}
  #mage {background-image: none;
    background-color: #ffefef;}
  #mage > h1 {background: none;}

  #mleave {background-image: none;
  background-color: #ffefef;}

  #mleaveanswer {background-color: #fff;}

  #mpenalty {background-color: #fff;}

  #mleave > h1 {background: none;
    font-size: 200%;}

  #mhelp {background-color: #fff;}

  #vote {background-image: none;
        background-color: #ffefef;
        color:#000;}
  #vote > h1 {background: none;}
  #sofar {background-image: none;}
  #sofar > h1 {background: none;}

#vtop {background-color: #fff;}

/*#vtypes > h1 {background: #ffefef;
              width: 65%;
              padding: 6px;}*/

#vresources {background: #fff;}

#vassault {background: #fff;}
#container {margin: 0;
            width: 300px;
            padding: 5px;
        height: 450px;
        min-width: 200px;
      max-width:300px;}

#vprotect {background: #fff;}

#rtop {background-image: none;
  background-color:#ffefef;}

#rtop > h1 {background: none;
width: 100%;
font-size: 250%;}
#rtop > h2 {background: none;
width: 100%;}
#rhelp {background-color:#fff;}

#rillegal {background-color:#fff;}
#rreduce {background-color:#fff;}
#reducation {background-color:#fff;}

#black {background-color: #000;
      color: #fff;}
  #black > h1 {font-size: 350%;}
  #black > h2 {font-size: 220%;}
  #black > p {font-size: 110%;}
#aboutproj {background-color: #fff;}
    }
